*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display:grid;
    place-items: center;
    background: linear-gradient(90deg, rgba(63,251,233,1) 11%, rgba(102,246,160,1) 84%); 
}
.app{
    border: 1px white solid;
    width: 40vw;
    max-height: 60vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}